body{
    background-color: #ffffff;
}

header{
    width: 90%;
    border: 1px solid #0C134F;
    padding: 50px;
    margin: 0 auto;
    border-radius: 25px 0  25px 0 ;
    text-align: center;
    display: flex;
    flex-direction: column;
}
h1{
    color: #1D267D;
}

p {
    font-size: italic;
}
img{
    width: 50%;
    display: block;
    margin: 0 auto;
    border: 3px solid #D4ADFC;
    border-radius: 50px 0 45px 0;
    margin-bottom: 100px;
}

img:hover{
    transform: scale(1.1);
    transition: all.3s ease-in-out;
}

button{
    width: 40%;
    margin: 0 auto;
    padding: 2px 50px;
    color: #5C469C;
    border-radius: 10px 0 10px 0;
    border: 2px solid #5C469C;
}
button:hover{
    background-color: #1D267D;
    transform: scale(.9);
    transition: all .3s ease-in-out;
}
.about {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 30px;
}
.about p{
    padding-left: 40px;
    margin: auto;
}
.about img{
    width: 40%;
}

#about {
    width: 90%;
    border: 1px solid #0C134F;
    margin: 30px auto;
    padding: 40px 30px;
    display: flex;
}
.left-about {
    width: 60%;
    border-right: 2px solid #5C469C;
}
.left-about img {
    width: 50%;
}
.right-about {
    padding-left: 40px;
}
.right-about h2 {
    color: #0C134F;
}

#project {
    width: 85%;
    border: 1px solid #1D267D;
    margin: 30px auto;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    color: #5C469C;
}
.image-project {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.image-project img {
    width: 30%;
    border-radius: 0%;
    box-shadow: 2px 2px 10px #1D267D;
}
footer{
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    background-color: #5C469C;
}
